---
pagination:
  data: collections.recipes
  size: 10
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <% list.forEach((recipe) => { %>
  <a class="hover:underline" href="<%= recipe.url %>">
    <div class="sm:max-w-sm h-64 relative rounded transition duration-200 ease-in-out transform hover:-translate-y-1">
      <img class="absolute top-0 left-0 h-64 object-cover object-center rounded" src="<%= recipe.data.image %>" alt="<%= recipe.data.title %>">
      <div class="pr-6 py-4">
        <h2 class="font-bold text-xl mb-2 bg-gray-200 opacity-75 p-2 rounded-r-sm"><%= recipe.data.title %></h2>
      </div>
      <div class="absolute bottom-0 right-0 py-4">
        <span class="bg-gray-200 opacity-75 px-3 py-1 text-sm font-semibold rounded-l-sm"><%= recipe.data.tag %></span>
      </div>
    </div>
  </a>
  <% }) %>
</div>

<div class="mt-5 pt-6 border-t grid grid-cols-3">
  <% if (pagination.next) { %>
  <div class="col-start-1 text-left"><a class="p-3 border border-solid border-gray-200 rounded hover:bg-gray-200" href="<%= pagination.next.replace(/index.html$/, "") %>">← Previous</a></div>
  <% } %> <% if (pagination.previous) { %>
  <div class="col-start-3 text-right"><a class="p-3 border border-solid border-gray-200 rounded hover:bg-gray-200" href="<%= pagination.previous.replace(/index.html$/, "") %>">Next →</a></div>
  <% } %>
</div>
